[#:powerblog.pages.frontpage
 {:blog-posts [:fn/plural
               "No blog posts yet"
               "My blog post"
               "Blog posts ({{:n}})"]}

 #:powerblog.pages.blog-listing
 {:page-title "Blog posts"}]
