[#:powerblog.pages.frontpage
 {:blog-posts [:fn/plural
               "Ingen blogginnlegg enda"
               "Mitt blogginnlegg"
               "Blogginnlegg"]}

 #:powerblog.pages.blog-listing
 {:page-title "Blogginnlegg"}]
