[#:powerblog.pages.frontpage
 {:blog-posts [:fn/plural
               "Ingen blogginnlegg enda"
               "Mitt blogginnlegg"
               [:fn/str "Blogginnlegg ({{:n}})"]]}

 #:powerblog.pages.blog-listing
 {:page-title "Blogginnlegg"}]
